body {
    padding-left: 15px;
}

h1 {
    color: goldenrod;
}

.persona {
    margin-bottom: 0px;
}

.persona h1 a, .persona h1 a:visited {
    color: #000000;
}

.card-header {
    padding-top: 1px;
    padding-bottom: 1px;
}