body {
    padding-left: 15px;
}

h1 {
    color: goldenrod;
}

.persona {
    margin-bottom: 0px;
}

.persona h1 a, .persona h1 a:visited {
    color: #000000;
}

.card-header {
    padding-top: 1px;
    padding-bottom: 1px;
}

.acc-header {
    padding: 5px 0;
    font-size: 14px;
}

.collapse {
    font-size: 14px;
}

.status {
    margin-bottom: 20px;
    font-size: 16px;
}

.descr {
    margin-bottom: 20px;
}

.descr__title, .comments__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment:nth-child(odd) {
    background-color: #f5f5f5;
}

.comment + .comment {
    margin-top: 10px;
}