
    {% extends 'contacts/base.html' %}
    {% block content %}

    <h1>Подать заявку!</h1>

    <form method="get" action="/createissue">
        {% csrf_token %}
        {{ form.as_p }}
        <p> Тема обращения: <br/>
        <input type="text" style="width:300px" name="summary"><br/>
        <p>Город:</p>
        <select name="issue-city" style="width:300px">
            {% for city in cities|dictsort:"city"%}
                <option value="{{ city.city }}">{{ city.city }}</option>
            {% endfor %}
        </select><br/>

        Классификатор: <br/>
        <select name="prclass" style="width:300px">
            <option disabled>Определите область проблемы</option>
            {% for category in pclass %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select></p>
        Описание поломки: <br/>
        <textarea style="height:200px; width:300px" size="30" name="textissue"></textarea><br/>
        <button type="submit">Submit</button>
    </form>
    {{ issuetext }}

    {% endblock %}

