
    {% extends 'contacts/base.html' %}
    {% block content %}

    <div class="content container-fluid">
    <div class="row">
        <div class="col">
            <strong><div class="row">
                <div class="col-lg-2">Дата</div>
                <div class="col-lg-1">Заявка</div>
                <div class="col-lg-3">Категория</div>
                <div class="col-lg-1">Город</div>
                <div class="col-lg-4">Тема обращения</div>
                <div class="col-lg-1">Статус</div>

            </div>
            </strong>
           <div id="accordion">
    {% for issue in issues %}
        <div class="card">
                   <div class="persona">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <div class="acc-header" data-toggle="collapse" data-target="#collapse{{ issue.key }}" aria-expanded="false" aria-controls="collapse{{ issue.key }}">
                            <div class="row">
                                <div class="col-lg-2">{{ issue.fields.created|date:"d M Y H:m" }}</div>
                                <div class="col-lg-1"><a href="https://taptaxi.atlassian.net/browse/{{ issue.key }}" target="_blank">{{ issue.key }}</a></div>
                                <div class="col-lg-3">{{ issue.fields.customfield_10517 }}</div>
                                <div class="col-lg-1">{{ issue.fields.customfield_10534 }}</div>
                                <div class="col-lg-4">{{ issue.fields.summary }}</div>
                                {% if issue.fields.status.name == "Закрыто" %}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-success">{{ issue.fields.status.name }}</span></div>
                                {% elif issue.fields.status.name == 'в очереди'%}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-danger">{{ issue.fields.status.name }}</span></div>
                                {% elif issue.fields.status.name == 'Готово'%}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-info">{{ issue.fields.status.name }}</span></div>
                                {% elif  issue.fields.status.name == 'В работе' %}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-warning">{{ issue.fields.status.name }}</span></div>
                                {% elif  issue.fields.status.name == 'Отклонена' %}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-secondary">{{ issue.fields.status.name }}</span></div>
                                {% else  %}
                                    <div class="col-md-2 col-lg-1" style="color: Black">{{ issue.fields.status.name }}</div>
                                {% endif %}

                            </div>
                        </div>
                      </h5>
                    </div>
                     <div id="collapse{{ issue.key }}" class="collapse" aria-labelledby="heading{{ issue.key }}" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container">
                                <div class="status">
                                    <div class="row">
                                        <div class="col-md-12">Исполнитель: {{ issue.fields.assignee }}</div>
                                        <div class="col-md-12">Статус: {{ issue.fields.resolution }}</div>
                                    </div>
                                </div>

                                <div class="descr">
                                    <div class="descr__title">Описание</div>
                                    <div class="row">
                                        <div class="col-md-8">{{ issue.fields.description }}</div>
                                    </div>
                                </div>

                                <div class="comments">
                                    <div class="comments__title">Комментарии</div>
                                    {% for comm in issue.fields.comment.comments %}
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-md-12">{{ comm.author }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">{{ comm.body }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                     </div>
        </div>
        </div>
    {% endfor %}
    </div>
        </div>
    </div>
    </div>

    {% endblock %}
