{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ТапТакси: Обращения по городам</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/contactlist.css' %}">
</head>
<body>
    <h2> Обращения в службу техподдержки </h2>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TapTaxi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

    <li class="nav-item dropdown">
        <div class="active dropdown show">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Отделы
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for dep in deps %}
                    <a class="dropdown-item" href="{% url 'departments' pk=dep.pk %}"> {{ dep.pk }} - {{ dep.dep_name }}</a>
                {% endfor %}
            </div>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Задачи <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/create_task">Нужна помощь! <span class="sr-only">(current)</span></a>
    </li>
  </div>
</nav>

    <div class="content container-fluid">
    <div class="row">
        <div class="col">
            <strong><div class="row">
                <div class="col-lg-2">Дата</div>
                <div class="col-lg-1">Заявка</div>
                <div class="col-lg-3">Категория</div>
                <div class="col-lg-5">Тема обращения</div>
                <div class="col-lg-1">Статус</div>

            </div>
            </strong>
           <div id="accordion">
    {% for issue in issues %}
        <div class="card">
                   <div class="persona">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <div class="acc-header" data-toggle="collapse" data-target="#collapse{{ issue.key }}" aria-expanded="false" aria-controls="collapse{{ issue.key }}">
                            <div class="row"><div class="col-lg-2">{{ issue.fields.created|date:"d M Y H:m" }}</div>
                            <div class="col-lg-1">{{ issue.key }}</div>
                            <div class="col-lg-3">{{ issue.fields.customfield_10517 }}</div>
                            <div class="col-lg-5">{{ issue.fields.summary }}</div>
                                {% if issue.fields.status.name == "Закрыто" %}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-success">{{ issue.fields.status.name }}</span></div>
                                {% elif issue.fields.status.name == 'в очереди'%}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-danger">{{ issue.fields.status.name }}</span></div>
                                {% elif issue.fields.status.name == 'Готово'%}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-info">{{ issue.fields.status.name }}</span></div>
                                {% elif  issue.fields.status.name == 'В работе' %}
                                    <div class="col-md-2 col-lg-1"><span class="badge badge-warning">{{ issue.fields.status.name }}</span></div>
                                {% else  %}
                                    <div class="col-md-2 col-lg-1" style="color: Black">{{ issue.fields.status.name }}</div>
                                {% endif %}

                            </div>
                        </div>
                      </h5>
                    </div>
                     <div id="collapse{{ issue.key }}" class="collapse" aria-labelledby="heading{{ issue.key }}" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container">
                                <div class="status">
                                    <div class="row">
                                        <div class="col-md-12">Исполнитель: {{ issue.fields.assignee }}</div>
                                        <div class="col-md-12">Статус: {{ issue.fields.resolution }}</div>
                                    </div>
                                </div>

                                <div class="descr">
                                    <div class="descr__title">Описание</div>
                                    <div class="row">
                                        <div class="col-md-8">{{ issue.fields.description }}</div>
                                    </div>
                                </div>

                                <div class="comments">
                                    <div class="comments__title">Комментарии</div>
                                    {% for comm in issue.fields.comment.comments %}
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-md-12">{{ comm.author }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">{{ comm.body }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                     </div>
        </div>
        </div>
    {% endfor %}
    </div>
        </div>
    </div>
    </div>


</body>
</html>